.collections {
  width: 100%;
  /* padding-left: 80px; */
}

.collections .card {
  width: 98%;
}

.collections h1 {
  padding-left: 22px;
  font-size: 25px;
  font-weight: 700;
  font-family: "Libre Baskerville", serif;
}

.collections h1::first-letter {
  font-size: 43px;
  color: #c13247;
}

.collections .slick-track {
  width: 100%;
}

.collections .slick-slide > div {
  padding-left: 30px;
  width: 320px;
  margin: 30px 30px;
}

.collections .slick-slide > div:nth-child(1) {
  margin-left: 0;
}

.collections .slick-list {
  margin-right: -30px;
}
